.masthead {
  position: fixed;
  background: var(--global-border-color);
  height: fit-content;
  top: 0;
  width: 100%;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: var(--global-border-color);
    width: 100%;
  }

  &__inner-wrap {
    @include container;
    padding: 0.5em 1em;
    font-family: $sans-serif-narrow;

    display: flex;                  // Flex row
    align-items: center;            // vertical centering
    justify-content: space-between; // title left, menu right

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }

  &__menu ul.visible-links {
    display: flex;   // horizontal links
    gap: 2em;        // spacing between links
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__title a {
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
  }

  &__menu-item {
    display: block;
    white-space: nowrap;
    font-weight: bold;
    background: var(--global-border-color);


    &--lg {
      font-weight: 700;
    }
  }
}
